body{
    background-color: #4450d5;
}

a{
    color: #249e64;
}

input{
    height: 3rem!important;
}

input[type=checkbox]{
    position:relative;
    width: 1.3rem!important;
    height: 1.3rem!important;
    aspect-ratio: 1/1;
    appearance: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

input[type=checkbox]:checked{
    background-color: #4450d5;
}

input[type=checkbox]:checked::before{
    content: "";
    background-image: url("./assets/images/white-checkmark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #4450d5;
    position: absolute;
    aspect-ratio: 1/1;
    width: 1rem;
    height: 1rem;
    top:2px;
    left:2px;
}

select{
    height: 3rem !important;
}
